<header>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'http://www.runtime-revolution.com', target: '_blank', class: 'navbar-brand' do %>
          <%= image_tag 'runtime-revolution', height: 35 %>
        <% end -%>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="<%= is_active?(surveys_path) %>">
            <%= link_to surveys_path do %>
              All surveys
              <span class='badge'> <%= surveys_count %> </span>
            <% end -%>
          </li>
          <li class="<%= is_active?(new_survey_path) %>"><%= link_to 'New Survey', new_survey_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
