<%= form_for(@survey, url: survey_scope(@survey), html: { class: 'survey-form clearfix' }, validate: true) do |f| %>
  <%= f.hidden_field :survey_type, value: @survey.survey_type %>
  <div class='field'>
    <div class='row'>
      <div class='form-group col-sm-4'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class='form-group col-sm-4'>
        <%= f.label :attempts_number, 'Maximum number of attempts (0 is infinite)' %>
        <%= f.number_field :attempts_number, min: 0, class: 'form-control' %>
      </div>
      <div class='form-group col-sm-4'>
        <%= f.label :active %>
        <%= f.select :active, ['true', 'false'], {}, class: 'form-control' %>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-sm-12'>
        <%= f.label :description %>
        <%= f.text_area :description, size: '100x5', class: 'form-control', style: 'max-width: 100%;' %>
      </div>
    </div>
    
    <div class='appendable'>
      <% if is_score?(@survey.survey_type) %>
        <br/>
        <div> In this type of survey, you have to enter a score for each question option (negative values are allowed) </div>
      <% end -%>
      <%= f.fields_for :questions do |builder| %>
        <%= render 'question_fields', f: builder %>
      <% end %>
    </div>
    <br/>
    <%= link_to_add_field 'Add a new Question', f, :questions %>
  </div>
  <%= f.submit 'Submit', class: 'pull-right btn btn-primary' %>
  <% end -%>
</div>

<script type='text/javascript'>
  // remove attachment field
  function removeField(link) {
    $(link).prev("input[type=hidden]").val("true");
    tag = $(link).closest(".field")
    tag.hide('slow');
  }

  // add attachment field
  function addField(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    var html = $(content.replace(regexp, new_id)).hide();
    var target = $(link).closest("div.field").find(".appendable").first();

    var last_height = 0
    html.appendTo(target).slideDown({
      duration: 'slow',
      progress: function () {
        delta = $(this).outerHeight(true) - last_height
        $(window).scrollTop( $(window).scrollTop() + delta );
        last_height = $(this).outerHeight(true);
      },
      complete: function () {
        $(this).find('input[type=text]').focus();
      }});
    }
</script>