<%= form_for(@survey, url: survey_scope(@survey), html: { class: 'survey-form clearfix' }, validate: true) do |f| %>
  <%= f.hidden_field :survey_type, value: @survey.survey_type %>
  <div class='field'>
    <div class='row'>
      <%= form_field_with_label f, :name,            :text_field,   group_class: 'col-sm-4' %>
      <%= form_field_with_label f, :attempts_number, :number_field, group_class: 'col-sm-4', field_options: { min: 0 }, label_name: 'Maximum number of attempts (0 is infinite)' %>
      <%= form_field_with_label f, :active,          :select,       group_class: 'col-sm-4', field_arguments: [ ['true', 'false'], {} ] %>
    </div>
    <div class='row'>
      <%= form_field_with_label f, :description,     :text_area,    group_class: 'col-sm-12', field_options: { size: '100x5' } %>
    </div>
    
    <div class='appendable'>
      <%= @survey.score_message %>
      <%= f.fields_for :questions do |builder| %>
        <%= render 'question_fields', f: builder %>
      <% end %>
    </div>
    <br/>
    <%= link_to_add_field 'Add a new Question', f, :questions %>
  </div>
  <%= f.submit 'Submit', class: 'pull-right btn btn-primary' %>
<% end -%>

<script type='text/javascript'>
  // remove attachment field
  function removeField(link) {
    $(link).prev("input[type=hidden]").val("true");
    tag = $(link).closest(".field")
    tag.hide('slow');
  }

  // add attachment field
  function addField(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    var html = $(content.replace(regexp, new_id)).hide();
    var target = $(link).closest("div.field").find(".appendable").first();

    var last_height = 0
    html.appendTo(target).slideDown({
      duration: 'slow',
      progress: function () {
        delta = $(this).outerHeight(true) - last_height
        $(window).scrollTop( $(window).scrollTop() + delta );
        last_height = $(this).outerHeight(true);
      },
      complete: function () {
        $(this).find('input[type=text]').focus();
      }});
    }
</script>