<tr class="survey">
  <td class="table-center"> <%= survey.type %> </td>
  <td> <%= survey.name_link %> </td>
  <td> <span class="survey-description"> <%= survey.description %> </span> </td>
  <td class="table-center"> <%= survey.number_of_questions %> </td>
  <td class="table-center"> <%= survey.number_of_attempts %> </td>
  
  <td class="table-center survey-buttons">
    <div class="btn-group" role="group">
      <%= survey.edit_button %>
      <%= survey.delete_button %>
    </div>
  </td>
</tr>
