<h1><%= @survey.name %></h1>
<%= form_for(@attempt, :url => attempt_scope(@attempt)) do |f| %>
  <%= hidden_field_tag :survey_id, @survey.id %>
  <%= f.fields_for :answers, get_answer_fields(@attempt) do |answer_fields| %>
    <% question = answer_fields.object.question %>
    <p><%= question.text %></p>
    <%= collection_radio_buttons('survey_attempt[answers_attributes]', question.id, question.options, :id, :text) do |b| %>
      <div class="radio">
        <%= b.label { b.radio_button + b.text } %>
      </div>
    <% end %>
  <% end -%>
  <%= f.submit "Submit", class: 'btn btn-default' %>
<% end -%>
