<div class="container">
  <h1><%= @attempt.survey.name %></h1>
  <h5><%= @attempt.survey.description %></h5>
  <hr>
  <% @attempt.answers.each do |answer| %>
    <p><%= answer.question.text %></p>
    <% answer.question.options.each do |option| %>
      <div class="radio">
        <label>
          <%= radio_button_tag '', '', the_chosen_one?(answer, option), disabled: true %>
          <% if option.correct %>
            <b> <%= option.text %> </b>
          <% else %>
            <%= option.text %>
          <% end %>
        </label>
        <p class="answers-number"> <%= number_of_people_who_also_answered(option.id) %> </p>
      </div>
    <% end %>
  <% end %>
</div>